:root{
    --logo-color:#000;
    --accent-color:#2196F3;
    --tex-color:#212121;
    --edet-color:#757575;
    --taitel-color:#FFF;
    --teambegraud-color:#F5F4FA;
    --futorbegraud-color:#2F303A;
    --futornamber:rgba(255, 255, 255, 0.60);
    
}